*{
	margin: 0;
	padding: 0;

	font-family: 'Merriweather Sans', sans-serif;
	font-size:  1vw;
}

html,body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

#button{

	text-align: center;
	margin: 16px;
}

a:hover{

	background-color: yellowgreen;
}
