*{
	margin: 0;
	padding: 0;

	font-family: 'Merriweather Sans', sans-serif;
	font-size:  2vw;
}

html,body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

a:hover{

	background-color: yellowgreen;
}
